.form-crew .card {
  min-width: 450px;
}
.form-crew .card form {
  margin-top: 2rem;
}
.form-crew .card .p-field {
  margin-bottom: 1.5rem;
}

input{
  caret-color: #f59e0b;
}

@media screen and (max-width: 960px) {
  .form-crew .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-crew .card {
      width: 100%;
      min-width: 0;
  }
}

.indigo-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--indigo-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--teal-500);
}