.datatable-selection{
  margin: 3rem;
  
}
.tabBody{
  background: red;
}

.datatable-selection .card h6 {
  margin-top: 2rem;
}
.datatable-selection .card h6:first-of-type {
  margin-top: 0;
}

#monthpicker{
  color: #6366f1
}