.datatable-selection{
  margin: 3rem;
  
}
.tabBody{
  background: red;
}

.datatable-selection .card h6 {
  margin-top: 2rem;
}
.datatable-selection .card h6:first-of-type {
  margin-top: 0;
}

section input[type="text"] {
  background-color: white;
  color: #f59e0b;
  font-size: 1.25rem;
  padding-right: 0.1rem;
  padding-left: 0.75rem;
  font-weight: bold;
  height: 3.5rem;
  width: 18rem !important;
  margin-right: 1rem;
 
}

.SelectedStyle{
  background-color: #6dd18e;
}